{{!-- The following component displays Ember's default welcome message. --}}
<p>Application page changed from code (git)</p>
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

{{outlet}}